{%extends "base.html"%}
{%block content%}
<h1>Please select {{category}}</h1>
	<ul>
	{%if category == "genre" or category == "artist"%}
	
        {%for currentCat in catList%}
 
<div class="col-sm-6 col-md-4">
	<div>
	<a href="/{{category}}/{{currentCat}}"><img src="{{catURL[loop.index0]}}" alt="..." class="img-circle" style="width:335px;height:195.23px;"></a>
	 <div class="caption">
       		 <h3><a href="/{{category}}/{{currentCat}}">{{currentCat}}</a></h3>
      	 </div>
   	 </div>
	</div>
	{%endfor%}
</ul>
{%else%}

{%for album in albumName%}
	<div class="col-sm-6 col-md-4">
        <div>
        <a href="/{{category}}/{{album}}"><img src="{{albumURL[loop.index0]}}" alt="..." class="thumbnail" style="width:335px;height:195.23px;"></a>
         <div class="caption">
                 <h3><a href="/{{category}}/{{album}}">{{album}}</a></h3>
         </div>
         </div>
        </div>
{%endfor%}
{%endif%}
{%endblock%}
